body
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.btn-info
{
    width: 100%;
}
input
{
    width: 30%;
    background-color: red;
}
canvas
{
    border: 5px dotted cyan;
    box-shadow: 5px 5px 5px blue;
    margin-top: 150px;
    border-radius: 3%;
}